
@{
    ViewBag.Title = "cierreCasoHC";
}

@section scripts{
<script>
    function goBack() {
        window.history.back();
    }
</script>    
}

<h1 style="text-align:center">Cierre de historia clínica</h1>
<div class="jumbotron">
    <h3 style="text-align:center; background-color:#9BC2E6">Datos del paciente</h3>
    <br />
    <div class="row">
        <div class="col-md-2">
            <label style="font-size:smaller">Fecha de cierre:</label>
        </div>
        <div class="col-md-4">
            <input class="form-control"   placeholder="Fecha de cierre" onclick="return fechaHoy();" required />
        </div>
        <div class="col-md-2">
            <label style="font-size:smaller">Número de HC:</label>
        </div>
        <div class="col-md-4">
            <input class="form-control"   placeholder="Número de HC" required />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-2">
            <label style="font-size:smaller">Nombres:</label>
        </div>
        <div class="col-md-4">
            <input class="form-control"   placeholder="Nombres" value="@ViewBag.nombre" required />
        </div>
        <div class="col-md-2">
            <label style="font-size:smaller">Apellidos:</label>
        </div>
        <div class="col-md-4">
            <input class="form-control"   placeholder="Apellidos" value="@ViewBag.apellido" required />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-2">
            <label style="font-size:smaller">Número de documento:</label>
        </div>
        <div class="col-md-4">
            <input class="form-control"  placeholder="Número documento" value="@ViewBag.numeroDocumento" required />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-2">
            <label style="font-size:smaller">Fecha de nacimiento:</label>
        </div>
        <div class="col-md-2">
            <input class="form-control"   placeholder="Fecha de nacimiento" required />
        </div>
        <div class="col-md-2">
            <label style="font-size:smaller">Edad:</label>
        </div>
        <div class="col-md-2">
            <input class="form-control"  placeholder="Edad (años)" onclick="return validarEdad();" value="@ViewBag.edad" required />
        </div>
        <div class="col-md-2">
            <label style="font-size:smaller">Profesión:</label>
        </div>
        <div class="col-md-2">
            <input class="form-control" placeholder="Profesión" value="" required />
        </div>
        
    </div>
    <br />
    <div class="row">
        <div class="col-md-2">
            <label style="font-size:smaller">Ocupación:</label>
        </div>
        <div class="col-md-2">
            <input class="form-control" placeholder="Ocupación" value="@ViewBag.ocupación" required />
        </div>
        <div class="col-md-2">
            <label style="font-size:smaller">Escolaridad:</label>
        </div>
        <div class="col-md-2">
            <input class="form-control"  placeholder="Escolaridad" value="" required />
        </div>
        <div class="col-md-2">
            <label style="font-size:smaller">Remitido por:</label>
        </div>
        <div class="col-md-2">
            <input class="form-control" placeholder="Remitido por" value="@ViewBag.ocupación" required />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-2">
            <label style="font-size:smaller">Fecha inicio psicoterapia:</label>
        </div>
        <div class="col-md-2">
            <input type="text" class="form-control"  onclick="return fechaHoy();" />
        </div>
        <div class="col-md-2">
            <label style="font-size:smaller">Fecha fin de la psicoterapia:</label>
        </div>
        <div class="col-md-2">
            <input class="form-control" placeholder="Fecha inicio psicoterapia" required />
            @*<input type="text" class="form-control" id="fechaRemision" onclick="return fechaHoy();"/>*@
        </div>
        <div class="col-md-2">
            <label style="font-size:smaller">Número de citas asignadas:</label>
        </div>
        <div class="col-md-2">
            <input class="form-control" placeholder="Número de citas asignadas" value="" required />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-2">
            <label style="font-size:smaller">Sesiones realizadas:</label>
        </div>
        <div class="col-md-2">
            <input class="form-control" placeholder="Sesiones realizadas" value="" required />
        </div>
        <div class="col-md-2">
            <label style="font-size:smaller">Inasistencias:</label>
        </div>
        <div class="col-md-2">
            <input class="form-control"  placeholder="Inasistencias" value="" required />
        </div>
    </div>
    <br />
</div>
<h3 style="text-align:center; background-color:#9BC2E6">Motivo cierre</h3>
<div class="row">
    <div class="col-md-5">
        <label style="font-size:medium">Acuerdo entre consultante y terapeuta:</label>
    </div>
    <div class="col-md-1">
        <input type="checkbox"  value="5">
    </div>
</div>
<div class="row">
    <div class="col-md-5">
        <label style="font-size:medium">Logro de objetivos:</label>
    </div>
    <div class="col-md-1">
        <input type="checkbox" value="2"/>
    </div>
</div>
<div class="row">
    <div class="col-md-5">
        <label style="font-size:medium">Retiro por consideración del consultante:</label>
    </div>
    <div class="col-md-1">
        <input type="checkbox" />
    </div>
</div>
<div class="row">
    <div class="col-md-5">
        <label style="font-size:medium">Abandono de las sesiones por parte del consultante:</label>
    </div>
    <div class="col-md-1">
        <input type="checkbox" />
    </div>
</div>
<div class="row">
    <div class="col-md-5">
        <label style="font-size:medium">Cierre por decisión del terapeuta:</label>
    </div>
    <div class="col-md-1">
        <input type="checkbox"/>
    </div>
</div>
<div class="row">
    <div class="col-md-5">
        <label style="font-size:medium">Por finalización del semestre:</label>
    </div>
    <div class="col-md-1">
        <input type="checkbox"/>
    </div>
</div>
<br />
<div class="row">
    <label style="font-size:medium">Especifique acerca del motivo de cierre:</label>
</div>
<div class="form-group">
    <textarea class="form-control" style="min-width: 100%" rows="6"  required></textarea>
</div>
<br />
<h3 style="text-align:center; background-color:#9BC2E6">Evolución de la intervención psicológica</h3>
<br />
<div class="form-group">
    <div class="col-md-6">
        <label style="font-size:medium">Logros alcanzados con base en los objetivos terapéuticos:</label>
    </div>
    <div class="form-group">
        <textarea class="form-control" style="min-width: 100%" rows="6"  required></textarea>
    </div>
</div>
<div class="form-group">
    <div class="col-md-4">
        <label style="font-size:medium">Logros alcanzados según el consultante:</label>
    </div>
    <div class="form-group">
        <textarea class="form-control" style="min-width: 100%" rows="6"  required></textarea>
    </div>
</div>
<div class="form-group">
    <div class="col-md-4">
        <label style="font-size:medium">Observaciones y recomendaciones:</label>
    </div>
    <div class="form-group">
        <textarea class="form-control" style="min-width: 100%" rows="6" required></textarea>
    </div>
</div>

<div class="form-group">
    <div class="col-md-2">
        <input type="submit" value="Guardar" class="form-control btn-primary" id="guardarHistoria" />
    </div>
    <div class="col-md-2">
        <input type="button" value="Cancelar" class="form-control" onclick="return goBack();"/>
    </div>
</div>