
@{
    ViewBag.Title = "documentoGeneral";
}

<h1 style="text-align:center">Documento general</h1>

<div class="col-lg-12 jumbotron">
    @*style="border:dashed"*@
    <div class="container">
        <h3 style="text-align:center; background-color:#9BC2E6">Historia Clínica</h3>
        <div class="row">
            <div class="col-md-3">
                <label style="font-size:smaller">Fecha de recepción de caso:</label>
            </div>
            <div class="col-md-3">
                <input class="form-control" placeholder="Fecha de recepción" />
            </div>
            <div class="col-md-2">
                <label style="font-size:smaller">Fecha atención:</label>
            </div>
            <div class="col-md-4">
                <input class="form-control" placeholder="Fecha atención" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3">
                <label style="font-size:smaller">Número de Historia Clínica:</label>
            </div>
            <div class="col-md-3">
                <input class="form-control" id="NumeroHC" placeholder="Número HC" />
            </div>
            <div class="col-md-2">
                <label style="font-size:smaller">Diagnóstico:</label>
            </div>
            <div class="col-md-4">
                <input class="form-control" id="CIE10" placeholder="CIE10" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3">
                <label style="font-size:smaller">Categorización CAP:</label>
            </div>
            <div class="col-md-3">
                <input class="form-control" placeholder="Categorización CAP" />
            </div>
        </div>
        <br />
        <h3 style="text-align:center; background-color:#9BC2E6">Datos del paciente</h3>
        <div class="row">
            <div class="col-md-1">
                <label style="font-size:smaller">Nombres:</label>
            </div>
            <div class="col-md-4">
                <input class="form-control"  placeholder="Nombres" value="@ViewBag.nombre" required />
            </div>
            <div class="col-md-2">
                <label style="font-size:smaller">Apellidos:</label>
            </div>
            <div class="col-md-4">
                <input class="form-control"  placeholder="Apellidos" value="@ViewBag.apellido" required />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-1">
                <label style="font-size:smaller">Sexo:</label>
            </div>
            <div class="col-md-4">
                <input class="form-control" placeholder="Sexo" value="@ViewBag.sexo" required />
            </div>
        </div>
        <br />
        <div class="row">
            <label class="col-md-1" style="font-size:smaller">Tipo de documento:</label>
            <div class="col-md-4">
                @*@Html.DropDownList("paciente.id_tipoDocumento", (IEnumerable<SelectListItem>)ViewBag.ItemDocumento, new { @class = "form-control", id = "tipoDocumentoPac" })*@
            </div>
            <div class="col-md-2">
                <label style="font-size:smaller">Número de documento:</label>
            </div>
            <div class="col-md-4">
                <input class="form-control" placeholder="numero documento" value="@ViewBag.numeroDocumento" required />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-1">
                <label style="font-size:smaller">Fecha de nacimiento:</label>
            </div>
            <div class="col-md-4">
                <input class="form-control" placeholder="fecha de nacimiento" />
            </div>
            <div class="col-md-3">
                <label style="font-size:smaller">Lugar de nacimiento (País, Ciudad):</label>
            </div>
            <div class="col-md-2">
                <input class="form-control" placeholder="País" required />
                @*@Html.DropDownList("paciente.id_paises", (IEnumerable<SelectListItem>)ViewBag.ItemPaises, new { @class = "form-control", required = "true", id = "paisPac" })*@
            </div>
            <div class="col-md-2">
                @*@Html.DropDownList("paciente.id_ciudad", (IEnumerable<SelectListItem>)ViewBag.ItemCiudades, new { @class = "form-control", id = "lugarNacimientoPac", required = "true" })*@
                <input class="form-control" placeholder="Ciudad" required />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-1">
                <label style="font-size:smaller">Estado civil:</label>
            </div>
            <div class="col-md-3">
                <input class="form-control" placeholder="Estado civil" />
            </div>
            <div class="col-md-1">
                <label style="font-size:smaller">Religión:</label>
            </div>
            <div class="col-md-3">
                @*@Html.DropDownList("lista", (IEnumerable<SelectListItem>)ViewBag.ItemBarrios, new { @class = "form-control", title = "Seleccione uno de los siguientes barrios", placeholder = "asdas" })*@
                <input class="form-control" placeholder="Religión" />
            </div>
            <div class="col-md-1">
                <label style="font-size:smaller">Escolaridad:</label>
            </div>
            <div class="col-md-3">
                <input class="form-control" value="@ViewBag.escolaridad" placeholder="Escolaridad" required />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-1">
                <label style="font-size:smaller">Profesión:</label>
            </div>
            <div class="col-md-3">
                <input class="form-control" placeholder="Profesión" value="" required />
            </div>
            <div class="col-md-1">
                <label style="font-size:smaller">Ocupación:</label>
            </div>
            <div class="col-md-3">
                <input class="form-control" placeholder="Ocupación" value="@ViewBag.ocupación" required />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-1">
                <label style="font-size:smaller">Dirección:</label>
            </div>
            <div class="col-md-3">
                <input class="form-control" placeholder="Dirección" />
            </div>
            <div class="col-md-1">
                <label style="font-size:smaller">Barrio:</label>
            </div>
            <div class="col-md-3">
                @*@Html.DropDownList("lista", (IEnumerable<SelectListItem>)ViewBag.ItemBarrios, new { @class = "form-control", title = "Seleccione uno de los siguientes barrios", placeholder = "asdas" })*@
                <input class="form-control" placeholder="Barrio" />
            </div>
            <div class="col-md-1">
                <label style="font-size:smaller">Localidad:</label>
            </div>
            <div class="col-md-3">
                @*@Html.DropDownList("ListaLocalidades", (IEnumerable<SelectListItem>)ViewBag.ItemLocalidades, new { @class = "form-control", title = "Seleccione uno de los siguientes barrios", placeholder = "asdas" })*@
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-1">
                <label style="font-size:smaller">Estrato:</label>
            </div>
            <div class="col-md-3">
                <input class="form-control" placeholder="Estrato" />
            </div>
            <div class="col-md-1">
                <label style="font-size:smaller">Teléfonos:</label>
            </div>
            <div class="col-md-3">
                <input class="form-control" placeholder="Teléfonos" />
            </div>
            <div class="col-md-1">
                <label style="font-size:smaller">Email:</label>
            </div>
            <div class="col-md-3">
                <input class="form-control" placeholder="Email" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-1">
                <label style="font-size:smaller">EPSS:</label>
            </div>
            <div class="col-md-2">
                <input class="form-control" placeholder="EPSS" />
            </div>
            <div class="col-md-1">
                <label style="font-size:smaller">EPSC:</label>
            </div>
            <div class="col-md-2">
                <input class="form-control" placeholder="EPSC" />
            </div>
            <div class="col-md-1">
                <label style="font-size:smaller">Institución:</label>
            </div>
            <div class="col-md-2">
                <input class="form-control" placeholder="Institución" />
            </div>
            <div class="col-md-1">
                <label style="font-size:smaller">Viene remitido:</label>
            </div>
            <div class="col-md-2">
                <input class="form-control" placeholder="VRemitido" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-2">
                <label style="font-size:smaller">Institución que remite:</label>
            </div>
            <div class="col-md-10">
                <input class="form-control" placeholder="IRemite" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-2">
                <label style="font-size:smaller">Profesional que remite:</label>
            </div>
            <div class="col-md-9">
                <input class="form-control" placeholder="Profesional que remite" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-2">
                <label style="font-size:smaller">Fecha de remisión:</label>
            </div>
            <div class="col-md-9">
                <input class="form-control" id="fechaRemision" name="remitido.fechaRemision" placeholder="fecha de remisión" required />
            </div>
        </div>
        <br />
        <h4 style="text-align:center; background-color:#9BC2E6">Datos del consultante</h4>
        <div class="row">
            <div class="col-md-1">
                <label style="font-size:smaller">Nombres:</label>
            </div>
            <div class="col-md-4">
                <input class="form-control" placeholder="Nombre" />
            </div>
            <div class="col-md-2">
                <label style="font-size:smaller">Apellidos:</label>
            </div>
            <div class="col-md-4">
                <input class="form-control" placeholder="Apellidos" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-1">
                <label style="font-size:smaller">Sexo:</label>
            </div>
            <div class="col-md-4">
                <input class="form-control" placeholder="Sexo" value="@ViewBag.sexo" required />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-1">
                <label style="font-size:smaller">Parentesco:</label>
            </div>
            <div class="col-md-4">
                <input class="form-control" placeholder="Parentesco" />
            </div>
            <div class="col-md-2">
                <label style="font-size:smaller">Teléfonos de contacto:</label>
            </div>
            <div class="col-md-4">
                <input class="form-control" placeholder="Teléfonos de contacto" />
            </div>
        </div>
        <br />
        <div class="row">
        <label class="col-md-1" style="font-size:smaller">Tipo de documento:</label>
        <div class="col-md-4">
            @*@Html.DropDownList("consultante.id_tipoDocumento", (IEnumerable<SelectListItem>)ViewBag.ItemDocumentoConsultante, new { @class = "form-control", id = "documentoConsultante", required = "true" })*@
        </div>
        <div class="col-md-2">
            <label style="font-size:smaller">Número de documento:</label>
        </div>
        <div class="col-md-4">
            <input class="form-control" placeholder="Número documento" required />
        </div>
        </div>
        <h4 style="text-align:center; background-color:#9BC2E6">Motivo de cierre</h4>
        <div class="form-group">
            <textarea class="form-control" style="min-width: 100%" rows="6"></textarea>
        </div>
        <h4 style="text-align:center; background-color:#9BC2E6">Problemática actual</h4>
        <div class="form-group">
            <textarea class="form-control" style="min-width: 100%" rows="6"></textarea>
        </div>
        <h4 style="text-align:center; background-color:#9BC2E6">Historia personal</h4>
        <div class="form-group">
            <textarea class="form-control" style="min-width: 100%" rows="6"></textarea>
        </div>
        <h4 style="text-align:center; background-color:#9BC2E6">Antecedentes (Médicos, psicológicos, psiquiátricos y otros relacionados)</h4>
        <div class="form-group">
            <textarea class="form-control" style="min-width: 100%" rows="6"></textarea>
        </div>
        <h4 style="text-align:center; background-color:#9BC2E6">Estrategias de evaluación</h4>
        <div style="border:double">
            <br />
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-2">
                    <label style="font-size:smaller">Pruebas psicométricas:</label>
                </div>
                <div class="col-md-9">
                    <input class="form-control" placeholder="Diligencie" />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-2">
                    <label style="font-size:smaller">Cuestionarios:</label>
                </div>
                <div class="col-md-9">
                    <input class="form-control" placeholder="Diligencie" />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-2">
                    <label style="font-size:smaller">Pruebas proyectivas:</label>
                </div>
                <div class="col-md-9">
                    <input class="form-control" placeholder="Diligencie" />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-2">
                    <label style="font-size:smaller">Exámen mental:</label>
                </div>
                <div class="col-md-9">
                    <input class="form-control" placeholder="Diligencie" />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-2">
                    <label style="font-size:smaller">Entrevistas:</label>
                </div>
                <div class="col-md-9">
                    <input class="form-control" placeholder="Diligencie" />
                </div>
            </div>
            <br />
        </div>
        @*<div class="form-group">
            <textarea class="form-control" style="min-width: 100%" rows="6"></textarea>
        </div>*@
        <h4 style="text-align:center; background-color:#9BC2E6">Resultados de evaluación</h4>
        <div class="form-group">
            <textarea class="form-control" style="min-width: 100%" rows="6"></textarea>
        </div>
        <h4 style="text-align:center; background-color:#9BC2E6">Historia Familiar (Relaciones familiares y Eventos significativos)</h4>
        <div class="form-group">
            <textarea class="form-control" style="min-width: 100%" rows="6"></textarea>
        </div>
        <h4 style="text-align:center; background-color:#9BC2E6">Genograma</h4>
        <div class="form-group">
            <textarea class="form-control" style="min-width: 100%" rows="6"></textarea>
        </div>
        <h4 style="text-align:center; background-color:#9BC2E6">Hipótesis Psicológicas</h4>
        <div class="form-group">
            <textarea class="form-control" style="min-width: 100%" rows="6"></textarea>
        </div>
        <h4 style="text-align:center; background-color:#9BC2E6">Objetivos terapéuticos</h4>
        <div class="form-group">
            <textarea class="form-control" style="min-width: 100%" rows="6"></textarea>
        </div>
        <h4 style="text-align:center; background-color:#9BC2E6">Estrategias y Tecnicas Terapéuticas</h4>
        <div class="form-group">
            <textarea class="form-control" style="min-width: 100%" rows="6"></textarea>
        </div>
        <h4 style="text-align:center; background-color:#9BC2E6">Logros alcanzados con base en los objetivos terapéuticos</h4>
        <div class="form-group">
            <textarea class="form-control" style="min-width: 100%" rows="6"></textarea>
        </div>
        <h4 style="text-align:center; background-color:#9BC2E6">Logros alcanzados según el consultante</h4>
        <div class="form-group">
            <textarea class="form-control" style="min-width: 100%" rows="6"></textarea>
        </div>
        <h4 style="text-align:center; background-color:#9BC2E6">Resúmen</h4>
        <div class="form-group">
            <textarea class="form-control" style="min-width: 100%" rows="6"></textarea>
        </div>
        <h4 style="text-align:center; background-color:#9BC2E6">Remisiones</h4>
        <div class="form-group">
            <textarea class="form-control" style="min-width: 100%" rows="6"></textarea>
        </div>
        <h4 style="text-align:center; background-color:#9BC2E6">Observaciones y Recomendaciones</h4>
        <div class="form-group">
            <textarea class="form-control" style="min-width: 100%" rows="6"></textarea>
        </div>
        @*<h4 style="text-align:center; background-color:#9BC2E6">RUTA DE ATENCIÓN</h4>
        <div class="row">
            <div class="col-md-1">
                <label style="font-size:smaller">Lista de espera:</label>
            </div>
            <div class="col-md-3">
                <input class="form-control" id="EPSS" placeholder="EPSS" />
            </div>
            <div class="col-md-1">
                <label style="font-size:smaller">Se remite:</label>
            </div>
            <div class="col-md-3">
                <input class="form-control" id="EPSC" placeholder="EPSC" />
            </div>
            <div class="col-md-1">
                <label style="font-size:smaller">SM:</label>
            </div>
            <div class="col-md-3">
                <input class="form-control" id="Institución" placeholder="Institución" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
                <label style="font-size:smaller">AS:</label>
            </div>
            <div class="col-md-3">
                <input class="form-control" id="VRemitido" placeholder="VRemitido" />
            </div>
            <div class="col-md-1">
                <label style="font-size:smaller">SPA:</label>
            </div>
            <div class="col-md-3">
                <input class="form-control" id="SPA" placeholder="SPA" />
            </div>
            <div class="col-md-1">
                <label style="font-size:smaller">VI:</label>
            </div>
            <div class="col-md-3">
                <input class="form-control" id="VI" placeholder="VI" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-2">
                <label style="font-size:smaller">Se programa:</label>
            </div>
            <div class="col-md-9">
                <input class="form-control" id="programa" placeholder="Se programa" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <label style="font-size:smaller">Motivo de la remisión:</label>
            </div>
            <div class="col-md-9">
                <input class="form-control" id="motivoRemision" placeholder="Motivo de la remisión" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <label style="font-size:smaller">Remitido a:</label>
            </div>
            <div class="col-md-9">
                <input class="form-control" id="RemitidoA" placeholder="Remitido a" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <label style="font-size:smaller">Anexos:</label>
            </div>
            <div class="col-md-9">
                <input class="form-control" id="Anexos" placeholder="Anexos" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-1">
                <label style="font-size:smaller">Agendado con psicólogo (a): </label>
            </div>
            <div class="col-md-3">
                <input class="form-control" id="Agendado" placeholder="Agendado con psicólogo (a)" />
            </div>
            <div class="col-md-1">
                <label style="font-size:smaller">Fecha: </label>
            </div>
            <div class="col-md-3">
                <input class="form-control" id="FechaAgenda" placeholder="Fecha Agenda" />
            </div>
            <div class="col-md-1">
                <label style="font-size:smaller">Hora: </label>
            </div>
            <div class="col-md-3">
                <input class="form-control" id="HoraAgendado" placeholder="Hora" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
                <label style="font-size:smaller">Valor consulta: </label>
            </div>
            <div class="col-md-3">
                <input class="form-control" id="ValorConsulta" placeholder="Valor consulta" />
            </div>
            <div class="col-md-1">
                <label style="font-size:smaller">Recepción de caso: </label>
            </div>
            <div class="col-md-3">
                <input class="form-control" id="RecepciónCaso" placeholder="Recepción de caso" />
            </div>
            <div class="col-md-1">
                <label style="font-size:smaller">Telefónico: </label>
            </div>
            <div class="col-md-3">
                <input class="form-control" id="Telefónico" placeholder="Telefónico" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
                <label style="font-size:smaller">Personalizado:</label>
            </div>
            <div class="col-md-3">
                <input class="form-control" id="Personalizado" placeholder="Personalizado" />
            </div>
        </div>
        <h4 style="text-align:center; background-color:#9BC2E6">Observaciones</h4>
        <div class="form-group">
            <textarea class="form-control" style="min-width: 100%" rows="6" id="Observaciones"></textarea>
        </div>
        <br />
        <br />
        <h4 style="text-align:center; background-color:#9BC2E6">Diagnósticos</h4>
        <div class="form-group">
            <textarea class="form-control" style="min-width: 100%" rows="6" id="Observaciones"></textarea>
        </div>
        <br />
        <br />
        <div class="row">
            <div class="col-md-2">
                <label class="col-md-3">Estudiante Practicante</label>
            </div>
            <div class="col-md-3">
                <input type="text" class="form-control" />
            </div>
            <div class="col-md-2">
                <label class="col-md-3">Docente supervisor</label>
            </div>
            <div class="col-md-3">
                <input type="text" class="form-control" />
            </div>
        </div>*@
        <div class="form-group">
            <div class="col-md-2">
                <input type="submit" value="Guardar" class="form-control btn btn-primary" />
            </div>
            <div class="col-md-2">
                <input type="submit" value="Cancelar" class="form-control" onclick="location.href='@Url.Action("historiaClinica", "HistoriaClinica" )'" />
            </div>
        </div>
    </div>
</div>



