@model MacapSoftCAPUAN.ModelsVM.HistoriaClinicaVM
@{
    ViewBag.Title = "Historia clinica";
}
<meta charset="utf-8">
@section scripts{
   <script src="~/Scripts/jquery-1.10.2.min.js"></script>
<link href="~/Content/bootstrap-datepicker.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap-datepicker.js"></script>
<script src="~/Scripts/locales/bootstrap-datepicker.es.min.js"></script>
@*<script src="http://momentjs.com/downloads/moment.min.js"></script>*@
<script>
    $(document).ready(function () {
        var idPaciente = '@ViewBag.idPaciente';
        $("#idPac").val(idPaciente);

        var estadoDoc = '@ViewBag.estadoDocumentoGen';
        if (estadoDoc == "True") {
            $("#informeSesion").prop('disabled', false);
            $("#documentoGeneral").prop('disabled', true);
        } else {
            $("#informeSesion").prop('disabled', true);
            $("#documentoGeneral").prop('disabled', false);
        }

        var inasistencias = '@ViewBag.conteo';
        if (inasistencias >= 2) {
            alert("El usuario ya ha inasistido dos veces, en caso de que falle nuevamente puede proceder a cerrar la HC, generar la inasistencia o continuar con el proceso.")
            $("#buttonCloseCH").prop('disabled', false);
        } else {
            $("#buttonCloseCH").prop('disabled', true);
        }

        var hoy = new Date();
        var fechaHoy = hoy.getFullYear() + "-" + ("0" + (hoy.getMonth() + 1)).slice(-2) + "-" + ("0" + hoy.getDate()).slice(-2);
        $("#fechaInasistencia").val(fechaHoy);
        $("#fechaInasistencia").attr('readonly', 'readonly');
        $("#Fecha").val(fechaHoy);
        $("#id").val(idPaciente);
    });

    function motInasistenci() {
        var motivoIna = $("#motivoInasistencia").val();
        $("#motivoIn").val(motivoIna);
        document.getElementById("buttonHidden").click();
    }
</script>
}
<h1 style="text-align:center;">Historia clínica</h1>

<div class="col-lg-12 jumbotron">
    <div class="container">
        <h3 style="text-align:center; background-color:#9BC2E6">Datos del paciente</h3>
        <div class="row">
            <div class="col-md-2">
                <label style="font-size:smaller">Nombres:</label>
            </div>
            <div class="col-md-4">
                <label>@Model.paciente.nombre</label>
            </div>
            <div class="col-md-2">
                <label style="font-size:smaller">Apellidos:</label>
            </div>
            <div class="col-md-4">
                <label>@Model.paciente.apellido</label>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-2">
                <label style="font-size:smaller">Número de documento:</label>
            </div>
            <div class="col-md-4">
                <label>@Model.ingresoClinica.numeroDocumento</label>
            </div>
            <div class="col-md-2">
                <label style="font-size:smaller">Número de historia clínica:</label>
            </div>
            <div class="col-md-4">
                <label>@Model.paciente.numeroHistoriaClinica</label>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-1">
                <label style="font-size:smaller">Eps:</label>
            </div>
            <div class="col-md-2">
                <label>@Model.ingresoClinica.id_Eps</label>
           </div>
            <div class="col-md-1">
                <label style="font-size:smaller">Dirección:</label>
            </div>
            <div class="col-md-3">
                <label>@Model.ingresoClinica.direccion</label>
            </div>
            <div class="col-md-1">
                <label style="font-size:smaller">Teléfono:</label>
            </div>
            <div class="col-md-3">
                <label>@Model.ingresoClinica.telefono</label>
            </div>
        </div>
        <br />
        <h3 style="text-align:center; background-color:#9BC2E6">Acciones</h3>
        <br />
        <div class="form-group">
            <div class="row">
                <div class="col-md-3">
                    <input type="submit" value="Documento general" class="form-control btn btn-primary" id="documentoGeneral" onclick="location.href='@Url.Action("documentoGeneral", "HistoriaClinica",new { id = ViewBag.idPaciente})'"/>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-3">
                    <input type="submit" value="Informe de sesión" class="form-control btn btn-primary" id="informeSesion"  onclick="location.href='@Url.Action("InformeSesion", "HistoriaClinica" )'"/>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-3">
                    <input type="button" value="Generar inasistencia" class="form-control btn btn-primary" id="btnInasistencia" data-toggle="modal" data-target="#agregarInasistencia"/>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-3">
                    <input type="submit" value="Remitir" class="form-control btn btn-primary" id="remitir" onclick="location.href='@Url.Action("remitirPaciente", "HistoriaClinica",new { id = ViewBag.idPaciente})'" />
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-3">
                    <input type="submit" value="Consultar" class="form-control btn btn-primary" id="consultar" data-toggle="modal" data-target="#modalAbrirUsuario"/>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-3">
                    <input type="button" value="Cierre de HC" class="form-control btn btn-primary" id="cierreHC" onclick="location.href='@Url.Action("cierreCasoHC", "HistoriaClinica" )'"/>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-3">
                    <input type="submit" value="Consultar inasistencia" class="form-control btn btn-primary" id="remitir" onclick="location.href='@Url.Action("consultarInasistencias", "HistoriaClinica",new { id = ViewBag.idPaciente})'" />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">
                    <input type="submit" value="Regresar" class="form-control btn btn-warning" id="regresar" onclick="location.href='@Url.Action("listaHistoriasClinicas", "HistoriaClinica" )'"/>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modalAbrirUsuario" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Elementos a consultar</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-5">
                            <label style="font-size:medium">Documento general:</label>
                        </div>
                        <div class="col-md-1">
                            <input type="checkbox" id="IntentoSuicida" value="5" name="remision.motivoRemision.idMotivoRemision">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <label style="font-size:medium">Informe sesion:</label>
                        </div>
                        <div class="col-md-1">
                            <input type="checkbox" id="IntentoSuicida" value="5" name="remision.motivoRemision.idMotivoRemision">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <label style="font-size:medium">Inasitencias:</label>
                        </div>
                        <div class="col-md-1">
                            <input type="checkbox" id="IntentoSuicida" value="5" name="remision.motivoRemision.idMotivoRemision">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <label style="font-size:medium">Recepción de caso:</label>
                        </div>
                        <div class="col-md-1">
                            <input type="checkbox" id="IntentoSuicida" value="5" name="remision.motivoRemision.idMotivoRemision">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <label style="font-size:medium">Remisiones:</label>
                        </div>
                        <div class="col-md-1">
                            <input type="checkbox" id="Remisiones" value="5" name="remision.motivoRemision.idMotivoRemision">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="buttonEdit" class="btn btn-default" data-dismiss="modal" onclick="return btnAbrirUsuarioCampo_Click();">
                            Consultar
                        </button>
                        <button id="buttonSalir" type="button" class="btn btn-default" data-dismiss="modal" onclick="location.href='@Url.Action("listaHistoriasClinicas", "HistoriaClinica")'">Regresar</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<div id="agregarInasistencia" class="modal fade" role="dialog">
    <div class="container">
    @using (@Html.BeginForm("generarInasistenciaClinica", "HistoriaClinica", FormMethod.Post, new { @class = "form-horizontal", id = "FormularioDocumentoGeneral" }))
    {
        @Html.Hidden("id");
        @Html.Hidden("Fecha");
        @Html.Hidden("motivoIn");
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Agregar una inasistencia</h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <text style="font-size:medium">Está seguro que desea generar una inasistencia</text>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-4">
                                <label style="font-size:smaller">Fecha de generación de inasistencia</label>
                            </div>
                            <div class="col-md-4">
                                <input class="form-control" placeholder="Fecha atención" id="fechaInasistencia" required />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label style="font-size:smaller">Motivo de la inasistencia:</label>
                            </div>
                            <div class="col-md-8">
                                <input class="form-control" id="motivoInasistencia" placeholder="Motivo inasistencia" required/>
                            </div>
                        </div>
                        <br />
                        <div class="modal-footer">
                            <input type="submit" hidden id="buttonHidden"/>
                            <button id="buttonCloseCH" type="button" class="btn btn-danger" data-dismiss="modal" onclick="location.href='@Url.Action("cierreCasoHC", "HistoriaClinica" )'">Cerrar HC</button>
                            <button type="button" id="buttonEdit" class="btn btn-primary" onclick="return motInasistenci();">Generar inasistencia</button> @*onclick="location.href='@Url.Action("generarInasistenciaClinica", "HistoriaClinica", new { id = ViewBag.idPaciente, mot = $("#motivoInasistencia") })'">*@    
                            <button id="buttonSalir" type="button" class="btn btn-warning" data-dismiss="modal">Regresar</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    }
    </div>
</div>