@*@model MacapSoftCAPUAN.Models.Paciente*@
@model MacapSoftCAPUAN.ModelsVM.RecepcionCaso
@{
    ViewBag.Title = "Ingreso pacientes";
}

<meta charset="utf-8">
@section scripts{
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <link href="~/Content/bootstrap-datepicker.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/locales/bootstrap-datepicker.es.min.js"></script>

    <script>
        $(document).ready(function () {
            $("#guardarRemitir").prop("disabled", true);
            $('#nombreEntidadRemitido').prop("disabled", true);
            $('#nombreRemitenteRemitido').prop("disabled", true);
            $('#listadosEPS').prop("disabled", true);
            var motConsul = '@ViewBag.motivoConsulta';
            var motObs = '@ViewBag.Observaciones';
            $("#motivoConsultaingresoClinica").val(motConsul);
            $("#Observaciones").val(motObs);
            var existente = '@ViewBag.existente';
            var consecutivo = '@ViewBag.itemConsecutivo';
            var npC = '@ViewBag.nPc';
            var hcP = '@ViewBag.numeroHC';
            $("#numeroDocumentoPaciente").val(npC);
            
            if (existente != "Si") {
                $("#Consecutivo").val(parseInt(consecutivo) + 1);
            } else {
                $("#Consecutivo").val(consecutivo);
            }

            $("#Consecutivo").attr('readonly', 'readonly');


            if (existente == "Si") {
                var fechN = '@ViewBag.fechaNacimiento';
                $("#Documento").val(hcP);
                $("#fechaNacimientoPaciente").val(fechN);
                $("#fechaNacimientoPaciente").datepicker("option", "disabled", true);
                //$("#fechaNacimientoPaciente").datepicker({minDate:-1,maxDate:-2}).attr('readonly','readonly');
                $("#fechaNacimientoPaciente").prop('disabled', true);
                //$('#fechaNacimientoPaciente').attr('readonly', 'readonly');
                $('#nombrePaciente').attr('readonly', 'readonly');
                $('#apellidoPaciente').attr('readonly', 'readonly');
                //$('#tipoDocumentoPac').attr('readonly', 'readonly');
                //$('#numeroDocumentoPaciente').attr('readonly', 'readonly');
                $('#lugarNacimientoPac').attr('readonly', 'readonly');
                $('#paisPac').attr('readonly', 'readonly');

            } else {
                $("#Documento").val(npC);
            }
            $('#nombrePaciente').val();

            var hoy = new Date();
            var fechaHoy = hoy.getFullYear() + "-" + ("0" + (hoy.getMonth() + 1)).slice(-2) + "-" + ("0" + hoy.getDate()).slice(-2);
            $("#ingresoClinica").val(fechaHoy);
            $("#ingresoClinica").attr('readonly', 'readonly');
        });

        function regresar(){
            $.ajax({
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                type: 'POST',
                url: '@Url.Action("Index", "HistoriaClinica")',
                failure: function (response) {
                }
            });
        }

        function fechaHoy() {
            var hoy = new Date();
            var fechaHoy = hoy.getFullYear() + "-" + ("0" + (hoy.getMonth() + 1)).slice(-2) + "-" + ("0" + hoy.getDate()).slice(-2);
            $("#ingresoClinica").val(fechaHoy);
        }


        function dateFormatter(value, row) {
            if (value != "") {
                var date = new Date(parseInt(value.substr(6)));
                var formatted = ("0" + date.getDate()).slice(-2) + "-" + ("0" + (date.getMonth() + 1)).slice(-2) + "-" + date.getFullYear();
                return formatted;
            }
            return "";
        }


        $(function () {
            $('#fechaNacimientoPaciente').datepicker({
                format: 'yyyy-mm-dd',
                onShow: function (ct) {
                    this.setOptions({
                        minDate: jQuery('#fechaNacimientoPaciente').val() ? jQuery('#fechaNacimientoPaciente').val() : false
                        , formatDate: 'Y-m-d'
                        , language: 'es'
                    })
                },
                timepicker: false
            });
        });


        $('#paisPac').click(function () {
            var existente = '@ViewBag.existente';
            if (existente == "Si") {
                alert("No se puede modificar el país de nacimiento");
            }
        });

        $('#lugarNacimientoPac').click(function () {
            var existente = '@ViewBag.existente';
            if (existente == "Si") {
                alert("No se puede modificar la ciudad de naciemiento");
            }
        });


        $('#checkBoxSendRemision').click(function () {
            disbledButtonRemisions();
        });

        function disbledButtonRemisions() {
            var remision = $('#checkBoxSendRemision').is(':checked');

            if (remision == true ) {
                $("#guardarRemitir").prop("disabled", false);
                $("#guardarHistoria").prop("disabled", true);
            } else {
                $("#guardarRemitir").prop("disabled", true);
                $("#guardarHistoria").prop("disabled", false);
            }
        };


        function prueba() {
            var hoy = new Date();
            var fechaHoy = ("0" + hoy.getDate()).slice(-2) + "-" + ("0" + (hoy.getMonth() + 1)).slice(-2) + "-" + hoy.getFullYear();
            var fecha2 = $("#fechaNacimientoPaciente").val();

            if (fecha2 != "") {
                var hoy2 = new Date(fecha2);
                var diferenciasFechas = (hoy - hoy2);
                var valorDias = Math.round((diferenciasFechas / (1000 * 60 * 60 * 24)));
                var edad = parseInt(valorDias / 365);
                $("#edadPaciente").val(edad);

                if (edad > 18) {
                    $("#nombreConsultantePaciente").prop("disabled", true);
                    $("#apellidosConsultantePaciente").prop("disabled", true);
                    $("#parentezcoConsultantePaciente").prop("disabled", true);
                    $("#telefonoConsultantePaciente").prop("disabled", true);
                    $("#documentoConsultante").prop("disabled", true);
                    $("#numeroDocumentoConsultante").prop("disabled", true);
                } else {
                    $("#nombreConsultantePaciente").prop("disabled", false);
                    $("#apellidosConsultantePaciente").prop("disabled", false);
                    $("#parentezcoConsultantePaciente").prop("disabled", false);
                    $("#telefonoConsultantePaciente").prop("disabled", false);
                    $("#documentoConsultante").prop("disabled", false);
                    $("#numeroDocumentoConsultante").prop("disabled", false);
                }
            }
        }

        function disbledButton() {
            var intentoSuicida = $('#IntentoSuicida').is(':checked');
            var abuso = $('#Abuso').is(':checked');
            var psicosis = $('#psicosis').is(':checked');
            var consumo = $('#consumo').is(':checked');
            var violencia = $('#violencia').is(':checked');

            if (intentoSuicida == true || abuso == true || psicosis == true || consumo == true || violencia == true) {
                $("#guardarHistoria").prop("disabled", true);
            }else{
                $("#guardarHistoria").prop("disabled", false);
            }
            if (intentoSuicida == false && abuso == false && psicosis == false && consumo == false && violencia == false ) {
                $("#guardarRemitir").prop("disabled", true);
            } else {
                $("#guardarRemitir").prop("disabled", false);
            }
        };

        $('#IntentoSuicida').click(function () {
            disbledButton();
        });

        $('#Abuso').click(function () {
            disbledButton();
        });

        $('#psicosis').click(function () {
            disbledButton();
        });

        $('#consumo').click(function () {
            disbledButton();
        });

        $('#violencia').click(function () {
            disbledButton();
        });

        function disabledRemitido() {
            if ($('#pacienteVieneRemitido').val() == "NO" || $('#pacienteVieneRemitido').val() == "") {
                $('#nombreEntidadRemitido').prop("disabled", true);
                $('#nombreRemitenteRemitido').prop("disabled", true);
            } else {
                $('#nombreEntidadRemitido').prop("disabled", false);
                $('#nombreRemitenteRemitido').prop("disabled", false);
            }
        };

        $('#pacienteVieneRemitido').click(function () {
            disabledRemitido();
        });

        function disabledEps() {
            if ($('#pacienteTenerEPS').val() == "NO" || $('#pacienteTenerEPS').val() == "") {
                $('#listadosEPS').prop("disabled", true);
                $('#listadosEPS').prop("disabled", true);
            } else {
                $('#listadosEPS').prop("disabled", false);
                $('#listadosEPS').prop("disabled", false);
            }
        };

        $('#pacienteTenerEPS').click(function () {
            disabledEps();
        });

        function remision() {
            $("#Informacion").val("1");
        }
    </script>
}
<div class="col-lg-12 jumbotron">
<div class="container">
    @using (@Html.BeginForm("IngresoPacientesCreado", "HistoriaClinica", FormMethod.Post, new { @class = "form-horizontal", id="FormularioRecepcion" }))
    {
    @Html.Hidden("Informacion");
    @Html.Hidden("Documento");
        <h3 style="text-align:center; background-color:#9BC2E6">Recepción de caso</h3>
        <div class="row">
            <div class="col-md-1">
                <label style="font-size:smaller">Fecha de atencion:</label>
            </div>
            <div class="col-md-4">
                <input class="form-control" id="ingresoClinica" name="ingresoClinica.fechaIngreso" placeholder="fecha de atención" onclick="return fechaHoy();" required/>
            </div>
            <div class="col-md-2">
                <label style="font-size:smaller">Consecutivo No:</label>
            </div>
            <div class="col-md-4">
                <input class="form-control" id="Consecutivo" name="consecutivo.numeroConsecutivo" placeholder="Numero de consecutivo" required/>
            </div>
        </div>


        <h3 style="text-align:center; background-color:#9BC2E6">Datos del paciente</h3>
        <div class="row">
            <div class="col-md-1">
                <label style="font-size:smaller">Nombres:</label>
            </div>
            <div class="col-md-4">
                <input class="form-control" id="nombrePaciente" name="paciente.nombre" placeholder="Nombres" value="@ViewBag.nombre" required />
            </div>
            <div class="col-md-2">
                <label style="font-size:smaller">Apellidos:</label>
            </div>
            <div class="col-md-4">
                <input class="form-control" id="apellidoPaciente" name="paciente.apellido" placeholder="Apellidos" value="@ViewBag.apellido" required />
            </div>
        </div>
        <br />
        <div class="row">
            <label class="col-md-1" style="font-size:smaller">Tipo de documento:</label>
            <div class="col-md-4">
                @Html.DropDownList("paciente.id_tipoDocumento", (IEnumerable<SelectListItem>)ViewBag.ItemDocumento, new { @class = "form-control", id="tipoDocumentoPac" })
            </div>
            <div class="col-md-2">
                <label style="font-size:smaller">Numero de documento:</label>
            </div>
            <div class="col-md-4">
                <input class="form-control" id="numeroDocumentoPaciente" name="paciente.numeroDocumento" placeholder="numero documento" value="@ViewBag.numeroDocumento" required />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-1">
                <label style="font-size:smaller">Fecha de nacimiento:</label>
            </div>
            <div class="col-md-2">
                <input class="form-control" id="fechaNacimientoPaciente" name="paciente.fechaNacimiento" placeholder="fecha de nacimiento"  required />
            </div>
            <div class="col-md-2">
                <label style="font-size:smaller">Lugar de nacimiento (País, Ciudad):</label>
            </div>
            <div class="col-md-2">
                @Html.DropDownList("paciente.id_paises", (IEnumerable<SelectListItem>)ViewBag.ItemPaises, new { @class = "form-control", required = "true", id = "paisPac" })
            </div>
            <div class="col-md-2">
                @Html.DropDownList("paciente.id_ciudad", (IEnumerable<SelectListItem>)ViewBag.ItemCiudades, new { @class = "form-control", id="lugarNacimientoPac", required = "true" })
                @*<input class="form-control" id="lugarNacimientoPaciente" name="paciente.lugarNacimiento" placeholder="Lugar de nacimiento" required />*@
            </div>
            <div class="col-md-1">
                <label style="font-size:smaller">Edad:</label>
            </div>
            <div class="col-md-2">
                <input class="form-control" id="edadPaciente" name="paciente.edad" placeholder="Edad (años)" onclick="return prueba();" value="@ViewBag.edad" required />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-4">
                <h3>Lugar de residencia</h3>
            </div>
            <br />
        </div>
        <div class="row">
            <div class="col-md-1">
                <label style="font-size:smaller">Localidad:</label>
            </div>
            <div class="col-md-3">
                @Html.DropDownList("paciente.id_localidad", (IEnumerable<SelectListItem>)ViewBag.ItemLocalidades, new { @class = "form-control", required = "true" })
            </div>
            <div class="col-md-1">
                <label style="font-size:smaller">Barrio:</label>
            </div>
            <div class="col-md-3">
                @Html.DropDownList("paciente.id_barrio", (IEnumerable<SelectListItem>)ViewBag.ItemBarrios, new { @class = "form-control", required = "true" })
                @*<input class="form-control" id="Barrio" placeholder="Barrio" />*@
            </div>
            <div class="col-md-1">
                <label style="font-size:smaller">Dirección:</label>
            </div>
            <div class="col-md-3">
                <input class="form-control" id="direccionPaciente" name="paciente.direccion" placeholder="Direccion" value="@ViewBag.direccion" required />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-1">
                <label style="font-size:smaller">Estrato:</label>
            </div>
            <div class="col-md-3">
                @Html.DropDownList("paciente.id_estrato", (IEnumerable<SelectListItem>)ViewBag.ItemEstrato, new { @class = "form-control", required = "true" })
                @*<input class="form-control" id="estratoPaciente" name="paciente.estrato" placeholder="Estrato" required />*@
            </div>
            <div class="col-md-1">
                <label style="font-size:smaller">Telefonos:</label>
            </div>
            <div class="col-md-3">
                <input class="form-control" id="telefonoPaciente" name="paciente.telefono" placeholder="Telefonos" value="@ViewBag.telefono" required />
            </div>
            <div class="col-md-1">
                <label style="font-size:smaller">Email:</label>
            </div>
            <div class="col-md-3">
                <input class="form-control" id="emailPaciente" name="paciente.email" placeholder="Email" value="@ViewBag.email"/>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-1">
                <label style="font-size:smaller">EPSS:</label>
            </div>
            <div class="col-md-2">
                @Html.DropDownList("paciente.tieneEps", (IEnumerable<SelectListItem>)ViewBag.ItemValidacion, new { @class = "form-control", id = "pacienteTenerEPS", required = "true" })
            </div>
            <div class="col-md-1">
                <label style="font-size:smaller">EPSC:</label>
            </div>
            <div class="col-md-2">
                @Html.DropDownList("paciente.tieneEpc", (IEnumerable<SelectListItem>)ViewBag.ItemValidacion, new { @class = "form-control", required = "true" })
            </div>
            <div class="col-md-1">
                <label style="font-size:smaller">Institución:</label>
            </div>
            <div class="col-md-2">
                @*<input class="form-control" id="epsPaciente" name="paciente.eps.IdEPS" placeholder="EPSS" />*@
                @Html.DropDownList("paciente.id_Eps", (IEnumerable<SelectListItem>)ViewBag.ItemEps, new { @class = "form-control", id = "listadosEPS", required = "true" })
            </div>
            <div class="col-md-1">
                <label style="font-size:smaller">Viene remitido:</label>
            </div>
            <div class="col-md-2">
                @Html.DropDownList("remitido.idRemitente", (IEnumerable<SelectListItem>)ViewBag.ItemValidacion, new { @class = "form-control", id = "pacienteVieneRemitido", required = "true" })
            </div>
        </div>
        <br />




        <div class="row">
            <div class="col-md-2">
                <label style="font-size:smaller">Institución que remite:</label>
            </div>
            <div class="col-md-10">
                <input class="form-control" id="nombreEntidadRemitido" name="remitido.nombreEntidad" placeholder="IRemite" value="@ViewBag.entidadRemitido" required/>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-2">
                <label style="font-size:smaller">Profesional que remite:</label>
            </div>
            <div class="col-md-9">
                <input class="form-control" id="nombreRemitenteRemitido" name="remitido.nombreRemitente" placeholder="Profesional que remite" value="@ViewBag.profesionalRemitido" required/>
            </div>
        </div>
        <br />
        <h3 style="text-align:center; background-color:#9BC2E6">Datos del consultante</h3>
        <div class="row">
            <div class="col-md-1">
                <label style="font-size:smaller">Nombres:</label>
            </div>
            <div class="col-md-4">
                <input class="form-control" id="nombreConsultantePaciente" name="consultante.nombre" placeholder="Nombres" required/>
            </div>
            <div class="col-md-2">
                <label style="font-size:smaller">Apellidos:</label>
            </div>
            <div class="col-md-4">
                <input class="form-control" id="apellidosConsultantePaciente" name="consultante.apellido" placeholder="Apellidos" required/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
                <label style="font-size:smaller">Parentezco:</label>
            </div>
            <div class="col-md-4">
                <input class="form-control" id="parentezcoConsultantePaciente" name="consultante.parentezco" placeholder="Parentezco" required/>
            </div>
            <div class="col-md-2">
                <label style="font-size:smaller">Teléfonos de contacto:</label>
            </div>
            <div class="col-md-4">
                <input class="form-control" id="telefonoConsultantePaciente" name="consultante.telefono" placeholder="Teléfonos de contacto" required/>
            </div>
        </div>
        <div class="row">
            <label class="col-md-1" style="font-size:smaller">Tipo de documento:</label>
            <div class="col-md-4">
                @Html.DropDownList("consultante.id_tipoDocumento", (IEnumerable<SelectListItem>)ViewBag.ItemDocumentoConsultante, new { @class = "form-control", id="documentoConsultante", required = "true" })
            </div>
            <div class="col-md-2">
                <label style="font-size:smaller">Número de documento:</label>
            </div>
            <div class="col-md-4">
                <input class="form-control" id="numeroDocumentoConsultante" name="consultante.cedula" placeholder="numero documento" required />
            </div>
        </div>

    <h3 style="text-align:center; background-color:#9BC2E6">Motivo de consulta</h3>
    <div class="form-group">
        <textarea class="form-control" id="motivoConsultaingresoClinica" name="ingresoClinica.motivoConsulta" style="min-width: 100%" rows="6" value="@ViewBag.motivoConsulta " required></textarea>
    </div>
    <br />
    <h3 style="text-align:center; background-color:#9BC2E6">Observaciones</h3>
    <div class="form-group">
        <textarea class="form-control" style="min-width: 100%" rows="6" id="Observaciones"  name="ingresoClinica.observaciones" value="'@ViewBag.Observaciones" required></textarea>
    </div>
        <br />
    <br />
    <div class="form-group">
        <div class="col-md-5">
            <label>Seleccione esta casilla si se va a remitir el paciente:</label>
        </div>
        <div class="col-md-2">
            <input type="checkbox" id="checkBoxSendRemision"/>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-2">
            <input type="submit" value="Remitir" class="form-control btn btn-primary" id="guardarRemitir" onclick="return remision();"/>
        </div>
        <div class="col-md-2">
            <input type="submit" value="Guardar" class="form-control" id="guardarHistoria"/>
        </div>
        <div class="col-md-2">
            <input type="button" value="Cancelar" class="form-control" onclick="location.href='@Url.Action("Index", "HistoriaClinica")'" />
        </div>
    </div>
    }
</div>
</div>


