@model MacapSoftCAPUAN.Models.ApplicationUser
@section scripts{
    @Scripts.Render("~/bundles/bootstraptable")
    <link href="~/Content/bootstrap-table.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-table.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap-table/bootstrap-table.js"></script>
    <script src="~/Scripts/bootstrap-table/bootstrap-table.min.js"></script>
    <script src="~/Scripts/bootstrap-table/locale/bootstrap-table-es-CR.min.js"></script>

    <script type="text/javascript">
        var $table = $('#tablaCampos');
        var $modal = $("#windowPopUp");
        function formatoEsNulo(value, row) {
            if (value) {
                return "Si";
            } else {
                return "No";
            }
        }

        function detailFormatter(index, row) {
            var html = [];
            $.each(row, function (key, value) {
                if (key != "ID" && key != "FkIdNivel" && key != "AliasColumna" && key != "ExtensionData" && key != "NombreColumna") {
                    html.push('<p><b>' + key + ':</b> ' + value + '</p>');
                }
            });
            return html.join('');
        }

        function formatoID(value, row) {
            return value.toString();
        }

        function formatoOperaciones(value, row, index) {
            return [
                '<a class="edit" href="javascript:void(0)" title="Editar">',
                '<i class="glyphicon glyphicon-pencil"></i>',
                '</a>  &nbsp;&nbsp; &nbsp;&nbsp;',
                //'<a class="remove" href="javascript:void(0)" title="Eliminar">',
                //'<i class="glyphicon glyphicon-remove"></i>',
                //'</a>'
            ].join('');
        }

        window.eventosOperaciones = {
            'click .edit': function (e, value, row, index) {
                $("#txtRoleEditado").val(row.Role);
                $("#hdnIdColumna").val(row.Id);
                $("#btnEditar").click();
                var usrName = "@HttpContext.Current.User.Identity.Name";
                $.each(row, function (key, value) {
                    //var myBookId = $("#prueba").val();
                    if (key == "nombreUsuario") {
                        if (usrName != value) {
                            $("#habilitarUsuarios").prop('disabled', false);
                        } else {
                            $("#habilitarUsuarios").prop('disabled', true);
                        }
                        //$(".modal-body #Nombre").val(value);
                    }
                });
            },
            'click .remove': function (e, value, row, index) {
                $("#eliminarUsuario").val(row.Id);
                $("#RoleUsuario").val(row.Role);
                $("#NombreUsuario").val(row.nombreUsuario);
                $("#btnEliminar").click();

            }
        };

        function btnAceptarEdicionCampo_Click() {
            var parametrosFuncion = JSON.stringify({ 'idColumna': $("#hdnIdColumna").val(), 'rolEditado': $("#txtRoleEditado").val(), 'estadoUsuario': $("#habilitarUsuarios").val() });
            $.ajax({
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                type: 'POST',
                url: '@Url.Action("EditRoleUser", "Account")',
                data: parametrosFuncion,
                success: function (data) {
                    limpiarFormularioEditarCampo();
                    $table.bootstrapTable('refresh');
                },
                failure: function (response) {
                    //$('#result').html(response);
                }
            });
        }


        function btnEliminarUsuario() {
            var parametrosFuncion = JSON.stringify({ 'idUsuario': $("#eliminarUsuario").val(), 'RoleUsuario': $("#RoleUsuario").val()});
            $.ajax({
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                type: 'POST',
                url: '@Url.Action("DeleteUser", "Account")',
                data: parametrosFuncion,
                success: function (data) {
                    $table.bootstrapTable('refresh');
                },
                failure: function (response) {
                }
            });
            location.reload();
        }


        function limpiarFormularioEditarCampo() {
            $("#txtRoleEditado").val("");
            $("#hdnIdColumna").val("");
        }
    </script>
}

<h2>Listar y modificar usuarios.</h2>
<div class="form-group">
    <br />
    <br />
    <div class="row">
        <div class="col-md-11"></div>
        <div class="col-md-1">
            <input type="button" class="btn btn-primary" style="align-content:center" value="Regresar" onclick="location.href='@Url.Action("Index", "HistoriaClinica" )'" />
        </div>
    </div>
    
</div>
<div class="container">

    <table id="tablaCampos"
           data-toggle="table"
           data-height="460"
           data-search="true"
           data-detail-formatter="detailFormatter"
           data-pagination="true"
           data-page-size="20"
           data-page-list="[20,50,100]"
           data-pagination-first-text="Inicio"
           data-pagination-pre-text="Anterior"
           data-pagination-next-text="Siguiente"
           data-pagination-last-text="Ultimo"
           data-url='@Url.Action("ListarUsuarios", "Account")'>
        <thead>
            <tr>
                <th data-field="Id" class="hidden"></th>
                <th data-field="nombreUsuario">Nombre Usuario</th>
                <th data-field="Email">Email</th>
                <th data-field="Role">Rol</th>
                <th data-field="Estado">Estado Usuario</th>
                <th data-field="Operaciones" data-align="center" data-events="eventosOperaciones" data-formatter="formatoOperaciones">Operaciones</th>
            </tr>
        </thead>
    </table>

    <br />
    <div id="buttonPreRemove">
        <button id="btnEditar" data-toggle="modal" data-target="#modalEditarCampo" style="visibility:hidden;"></button>
        <button id="btnEliminar" data-toggle="modal" data-target="#modalEliminarUsuario" style="visibility:hidden;"></button>
    </div>



    <div class="modal fade" id="modalEliminarUsuario" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Eliminar Usuario</h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-2">
                                @Html.Hidden("eliminarUsuario", "", new { id = "eliminarUsuario" })
                                @Html.Hidden("RoleUsuario", "", new { id = "RoleUsuario" })
                            </div>
                            <div class="modal-body">
                                <p>Desea continuar.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btnAceptarEliminarUsuario" type="button" class="btn btn-default" data-dismiss="modal" onclick="return btnEliminarUsuario();">Aceptar</button>
                    <button id="buttonExit" type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>







    <div class="modal fade" id="modalEditarCampo" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Editar Role</h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-2">@Html.Hidden("hdnIdColumna", "", new { id = "hdnIdColumna" })</div>
                            <div class="col-md-2">
                                <label>Rol: </label>
                            </div>
                            <div class="col-md-8">
                                <select type="text" id="txtRoleEditado" name="txtRoleEditado" class="form-control" placeholder="Seleccione" required>
                                    <option value="Administrador">Administrador</option>
                                    <option value="Estudiante psicologo">Estudiante psicólogo</option>
                                    <option value="Docente">Docente</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label>Habilitar o deshabilitar usuario</label>
                            </div>
                            <div class="col-md-8">
                                @Html.DropDownList("ListaHabilitarUsuario", (IEnumerable<SelectListItem>)ViewBag.ItemsHabilitarUsuario, new { @class = "form-control", id="habilitarUsuarios" }) 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btnAceptarEdicionCampo" type="button" class="btn btn-default" data-dismiss="modal" onclick="return btnAceptarEdicionCampo_Click();">Aceptar</button>
                    <button id="buttonSalir" type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>


