<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Macapsoft UAN</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top navbar-custom" role="navigation" style="background-color:#06052F">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand navbar-brand-left">
                    <img src="~/Content/Imagenes/Logo_CAP_UAN.png" />
                    @*<img src="~/Content/Imagenes/Logo_CAP_UAN.png" />*@
                </a>
            </div>
            <div class="navbar-collapse collapse">
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />
    <br />

    <section>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                @*<p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>*@
                <p style="text-align:center">@DateTime.Now.Year - MacapSoft UAN</p>
            </footer>
        </div>
    </section>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
    //function disableBackButton() {
    //window.location.hash = "";
    //window.location.hash = "Again-No-back-button"
    //window.onhashchange = function () { window.location.hash = ""; }
    //};

    window.addEventListener("pageshow", function (event) {
        var historyTraversal = event.persisted || (typeof window.performance != "undefined" && window.performance.navigation.type === 2);
        if (historyTraversal) {
            window.location.reload();
        }
    });

    </script>
</body>
</html>
