@model MacapSoftCAPUAN.Models.Diagnostico
@{
    ViewBag.Title = "Modificar Diagnosticos";
}

@section scripts{

    <link href="~/Content/bootstrap-table.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-table.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap-table/bootstrap-table.js"></script>
    <script src="~/Scripts/bootstrap-table/bootstrap-table.min.js"></script>
    <script src="~/Scripts/bootstrap-table/locale/bootstrap-table-es-CR.min.js"></script>
    <script type="text/javascript">

        var $table = $('#tableCampos');
        function formatoOperaciones(value, row, index) {
            return [
                '<a class="edit" href="javascript:void(0)" title="Editar">',
                '<i class="glyphicon glyphicon-pencil"></i>',
            ].join('');
        }

        window.eventosOperaciones = {
            'click .edit': function (e, value, row, index) {
                $("#txtRoleEditado").val(row.Role);
                $("#hdnIdColumna").val(row.Codigo);
                $("#btnEditar").click();
                $.each(row, function (key, value) {
                    //var myBookId = $("#prueba").val();
                    if(key == "Nombre"){
                        $(".modal-body #Nombre").val(value);
                    }
                });

            }

        };

        //var $table = $('#table'),
        //    $buttonBack = $('#buttonBack'),
        //    $button = $('#button');


        function regresar() {
                $.ajax({
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    type: 'POST',
                    url: '@Url.Action("Index", "HistoriaClinica")',
                    failure: function (response) {
                        //$('#result').html(response);
                    }
                });
        }

        function btnAceptarEdicionCampo_Click() {
            var estadoNombreDiagnostico = $("#Nombre").val();
            if (estadoNombreDiagnostico != "") {
                var parametrosFuncion = JSON.stringify({ idCodigo: $("#hdnIdColumna").val(), nombreEditado: $("#Nombre").val(), casoEditado: $("#casoEspecial").val() });
                $.ajax({
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    type: 'POST',
                    url: '@Url.Action("ModificarDiagnosticoCAP", "Diagnostico")',
                    data: parametrosFuncion,
                    success: function (data) {
                        limpiarFormularioEditarCampo();
                        $table.bootstrapTable('refresh');
                    },
                    failure: function (response) {
                    }
                });
            } else {
                alert("No ingresó información en el campo a editar");
            }
        }


        function limpiarFormularioEditarCampo() {
            $("#Nombre").val("");
            //$("#casoEspecial").val("NO");
            $table.bootstrapTable('refresh');
            location.reload();
        }

    </script>
}


<div class="container">
    <h3 align="center"><font size="16">Modificar diagnósticos</font></h3>
    @Html.HiddenFor(m => m.Codigo)
    <table id="tableCampos"
           data-toggle="table"
           data-search="true"
           data-height="460"
           data-detail-formatter="detailFormatter"
           data-pagination="true"
           data-page-size="20"
           data-page-list="[20,50,100]"
           data-pagination-first-text="Inicio"
           data-pagination-pre-text="Anterior"
           data-pagination-next-text="Siguiente"
           data-pagination-last-text="Ultimo"
           data-url='@Url.Action("ListarDiagnosticosCAP", "Diagnostico")'>
        <thead>
            <tr>
                <th data-field="Codigo">Código</th>
                <th data-field="Nombre">Nombre</th>
                <th data-field="Destacado">Caso especial</th>
                <th data-field="Operaciones" data-align="center" data-events="eventosOperaciones" data-formatter="formatoOperaciones">Operación modificar</th>
            </tr>
        </thead>
    </table>
    <div id="toolbar">
        @*<button type="submit" id="buttonBack" class="btn btn-default" onclick="return regresar();">Atrás</button>*@
        <input type="button" class="btn btn-primary" value="Regresar" onclick="location.href='@Url.Action("Index", "HistoriaClinica" )'" />
    </div>
    <div id="buttonPreRemove">
        <button id="btnEditar" data-toggle="modal" data-target="#modalEditarCampo" style="visibility:hidden;"></button>
    </div>


    <div id="modalEditarCampo" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Editar un diagnóstico</h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-2">@Html.Hidden("hdnIdColumna", "", new { id = "hdnIdColumna" })</div>
                            @*<div class="col-md-4">
                                    <label>Código:</label>
                                </div>*@
                            @*<div class="col-md-8">
                                    <input type="text" id="Codigo" class="form-control" />
                                </div>*@
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label>Nombre:</label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" id="Nombre" class="form-control" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label>Caso especial:</label>
                            </div>
                            <div class="col-md-8">
                                <select type="text" id="casoEspecial" name="casoEspecial" class="form-control" required>
                                    <option value="NO">No</option>
                                    <option value="SI">Si</option>
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" id="buttonEdit" class="btn btn-default" data-dismiss="modal" onclick="btnAceptarEdicionCampo_Click()">
                                Editar
                            </button>
                            <button id="buttonSalir" type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        </div>
                    </div>
                </div>

                @*<div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>*@
            </div>

        </div>
    </div>
</div>
